*{
    font-family: NotoSans-Bold, sans-serif;
    background-color:white;
  }
  
  p{
  background-color:white;
  color: black;
  }

  .line{
    background-color: black;
    height: 3px;
    margin-top: 3px;
  }

  .experience{
    margin: 0;
  }

  .experiences-container{
    font-size: 3vh;
    border: none;
    width: 100%;
    resize: none;
    outline: none;
  }

  .job-title{
    font-size: 1.3rem;
    font-weight: 700;
    padding-top: 15px;
  }

  .description{
    resize: none;
    outline: none;
    border: none;
    width: 96%;
    background-color: #f8f8f8;
    border-radius: 8px;
    padding: 10px;
    margin-top: 5px;
    padding-top: none;
    font-size: 1rem;
  }

  .dates{
    border: 1px solid #d2d2d2;
    border-radius: 4px;
  }

  .date-input{
    font-size: 0.9rem;
  }

  .remove-experience{
    display: none;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
    font-weight: bold;
    height: 25px;
  }

  .add-experience{
    display: none;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
    font-weight: bold;
    height: 25px;
    margin-top: 5px;
  }

  .experiences-container:hover .remove-experience{
      display: block;
  }
  .experiences-container:hover .add-experience{
    display: block;
}

.remove-experience:hover{
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}
.add-experience:hover{
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}