*{
    font-family: NotoSans-Bold, sans-serif;
    background-color:white;
  }
  
  p{
  background-color:white;
  color: black;
  }

  .line{
    background-color: black;
    height: 3px;
    margin-top: 3px;
  }

  .experience{
    margin: 0;
  }

  .experiences-container{
    font-size: 3vh;
    padding-top: 10px;
    border: none;
    width: 100%;
    resize: none;
    outline: none;
  }

  .job-title{
    font-size: 1.3rem;
    font-weight: 700;
  }