*{
  font-family: NotoSans-Bold, sans-serif;
  background-color:white;
}

p{
background-color:white;
color: black;
}

.info-dropdown{
  background-color: white;
  /* box-shadow: -5px 5px 10px 2px rgba(0,0,0,0.1); */
}


.dropdown-btn{
  font-family: NotoSans-Bold, sans-serif;
  font-weight: bold;
  border: none;
  font-size: 5vh;
  border-radius: 8px;
  display: flex;
}

svg{
  padding-top: 1.3vh;
  padding-left: 1vh;
  padding-right: 2vh;
}
/* input{
  max-width: 100%;
  min-width: 40%;
  display: flex;
  border: 0;
} */

input{
  border: none;
}

.user-name{
  font-size: 2.5rem;
  font-weight: 700;
  grid-column-end: span 2;
}

.user-role{
  font-size: 1.5rem;
  font-weight: 700;
  grid-column-end: span 2;
}

.text-elements{
  display: grid;
  grid-template-areas: "name name"
                        "role role"
                        "phone email"
                        "website city";
  width: 70%;
  padding: 6px;
  margin-right: 5%;
}

.text-elements input{
  padding: 0;
}

input:focus{
  outline: none;
}

.img-element{
  width: 15vw;
  height: 15vw;
  position: relative;
  padding: 6px;
  background-color: white;
  border-radius: 50%;
  border: 6px solid black;
}

img{
  border-radius: 50%;
  height: 100%;
  width: 100%;
  padding: 0px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  
}

.upload-svg{
  display: none;
  height:66.7%;
  width: 66.7%;
  z-index: 9;
  margin: 13%;
  background-color: none;
  border-radius:10% ;
}

img:hover{
    opacity: 0%;
    cursor: pointer;
}

img:hover +.upload-svg{
  display: block;
}

.img-holder{
  /* background-color: black; */
}

.img-upload{
  z-index: -10;
  display: none;
}

.personal-info{
  display: flex;
}
/* label{
  display: flex;
} */