*{
    font-family: NotoSans-Bold, sans-serif;
    background-color:white;
  }
  
  p{
  background-color:white;
  color: black;
  }

  .line{
    background-color: black;
    height: 3px;
    margin-top: 3px;
  }

  .summary{
    margin: 0;
  }

  .summary-box{
    font-size: 3vh;
    background-color: #f8f8f8;
    border-radius: 8px;
    padding: 10px;
    padding-top: none;
    margin-top: 10px;
    border: none;
    width: 96%;
    resize: none;
    outline: none;
    
  }

  .text-container{
    display: flex;
    justify-content: center;
  }

  .summary-box:hover{
    border: 2px solid black;
  }