#root{
  background-color: #c1c6d0;
}

.display-modal{
  margin: 0 auto;
  padding: 30px;
  background-color: white;
  width: 65%;
  
}

.display-modal:hover{
  /* border: 1px solid black;
  border-radius: 0px; */
}

.display-modal:focus-visible{
  border: 5px solid black;
  border-radius: 3px;
}

.cv-element{
  padding: 10px;
  margin: 0 auto;
}

.cv-element:hover{
  border: 1.2px solid black;
  border-radius: 9px;
}

.secondary{
  width: 90%;
}