html{
  background-color: #f5f5f5;
}

#root{
  background-color: #f5f5f5;
  display: flex;
}

.display-modal{
  margin: 20px auto;
  padding: 30px;
  background-color: white !important;
  width: 870px;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.display-modal:focus-visible{
  border: 5px solid black;
  border-radius: 3px;
}

.cv-element{
  padding: 10px;
  margin: 0 auto;
}

.cv-element:hover{
  border: 1.2px solid black;
  border-radius: 9px;
}

.secondary{
  width: 90%;
}